<div id="subtitle">
  <h3>Here are the surveys:</h3>
</div>
<% if @surveys %>
  <% @surveys.each do |survey| %>
    <h2><a href="/survey/take/<%=survey.id%>"><%=survey.survey_name%></a></h2>
  <% end %>
<% else %>
  <p>There aren't any surveys yet. <a href="/survey/make">Create a survey here.</a></p>
<% end %>
