<div id="subtitle">
<h3>Create your survey</h3>
</div>

<%=params[:user_id]%>


<form action="/survey/make" method='POST'>
  <input name="survey[survey_name]" placeholder="Survey Title">
  <p id="question_area">
    <div id="add_option">
      <input name="survey[questions][][question]" placeholder="Question">
      <div>
        <input name="survey[questions][][options][]" placeholder="option">
        <input type="submit" class="remove_question" value="delete option">
      </div>
      <div>
        <input name="survey[questions][][options][]" placeholder="option">
        <input type="submit" class="remove_question" value="delete option">
      </div>
    </div>
    <br>
    <input type="submit" id="add_response" value="Add option">
    <br>
  </p>
  <input type='submit' id='add_question' value='Add question'>
  <p> -->
    <input type="submit" name="Sumbit">
  </p>
</form>
