<div id="subtitle">
<h3>Create your survey</h3>
</div>

<%=params[:user_id]%>


<form action="/survey/make" method='POST'>
  <input id="surv_title" name="survey[survey_name]" placeholder="Survey Title">
  <br>

  <p id="question_area">
    <div id="add_option">
      <br>
      <br>
      <input id="quest" name="survey[questions][][question]" placeholder="Question">
      <br>
      <br>
      <div>
        <input id="opt" name="survey[questions][][options][]" placeholder="Option">
        <input type="submit" class="remove_question" value="Delete option">
      </div>
      <br>
      <div>
        <input id="opt" name="survey[questions][][options][]" placeholder="Option">
        <input type="submit" class="remove_question" value="Delete option">
      </div>
      <br>

    </div>
    <br>
    <br>
    <input type="submit" id="add_response" value="Add option">
  </p>
  <input type='submit' id='add_question' value='Add question'>
  <br>
  <br>
  <br>
  <br>
  <p>
    <input type="submit" id='submit' name="Sumbit">
  </p>
</form>
<footer>
</footer>
