<h1>Eat shit. make my survey </h1>
<%=params[:user_id]%>


<form action="/survey/make" method='POST'>
  <input name="survey_name" placeholder="Survey Title">
  <p id="question_area">
    <div id="add_option">
      <input name="question" placeholder="Question">

      <div>
        <input name="option" placeholder="option">
        <input type="submit" class="remove_question" value="delete option">
      </div>
<!--
      <div>
        <input name="question1[:option2]" placeholder="option">
        <input type="submit" class='remove_question' value="delete option">
      </div>

      <div>
        <input name="question1[:option3]" placeholder="option">
        <input type="submit" class='remove_question' value="delete option">
      </div>

      <div>
        <input name="question1[:option4]" placeholder="option">
        <input type="submit" class='remove_question' value="delete option">
      </div>

    </div>
    <br>
    <input type="submit" id="add_response" value="Add option">
    <br>
  </p>
  <input type='submit' id='add_question' value='add question'>
  <p> -->
    <input type="submit" name="Sumbit">
  </p>
</form>
