<h1>Here are your surveys: </h1>
<% if @surveys %>
  <% @surveys.each do |survey| %>
    <h2><a href=""><%=survey.survey_name%></a></h2>
  <% end %>
<% else %>
  <p>You haven't created any surveys yet. <a href="/survey/make">Create a survey here.</a></p>
<% end %>
